[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "anyLib"]
	path = anyLib
	url = https://github.com/achateigner/anylib
[submodule "apercu"]
	path = apercu
	url = https://github.com/achateigner/apercu
